/*  */

.todo-container {
    border: 2px solid black;
    height: 500px;
}

.added-items {
    border: 2px solid red;
    height: 200px;
    margin-top: 30px;
}

.strike-text {
    text-decoration: line-through red 2px;
}

#item-list {
    list-style-type: none;
}